@import '../../assets/scss/_colors';

.nav-modal-button {
    background-color: $color-none !important;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
    width: 30px !important;
    height: 30px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;
    &::before, &::after {
        content: '';
        height: 2px;
        background-color: $color-white;   
        transition: all 0.2s ease-in-out;  
        right: 0;       
    }
    &::before {
        width: 100%;
        
    }
    &::after {
        width: 60%;
        
    }

    &:hover {
        &::before, &::after {
            background-color: $color-lite;
            width: 100%;
        }
    }
    
}
.nav {
    display: flex;
    align-items: center;

    &__list,
    &__list--social {
        display: flex;

        &:hover {
            & .nav__item--link {
                color: $color-lite;
            }
        }
    }

    &__item {
        padding: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &--link {
            color: $color-white;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $color-white !important;
            }

            &.active {
                color: $color-white !important;
                text-decoration: line-through !important;
            }
        }
    }

    &__modal {
        background-color: $color-dark !important;
        &--close {
            position: relative;
            width: 40px;
            height: 40px;
            background-color: $color-none;
            color: $color-white;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before, &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $color-white;   
                transition: all 0.3s ease-in-out;         
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
            &:hover {
                &::before, &::after {
                    background-color: $color-lite;
                }
            }
        }
        &--body{
            background-color: $color-dark !important;
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden !important;
            &::before {
                content: "";
                width: 700px;
                height: 700px;
                background-color: $color-lite;
                position: absolute !important;
                right: -10%;
                top: -20%;
                border-radius: 50%;
                opacity: 0.1;
            }


            & .container {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                position: relative;
            }

            & .nav__list {
                width: 100%;
                flex-direction: column;
                padding: 0 1rem !important;
                gap: 1.5rem !important;
                &--social {
                    & .nav__item--link {
                        font-size: 1.5rem !important;
                        &::before {
                            display: none;
                        }
                    }
                }
            }
            & .nav__item {
                justify-content: flex-start;
                &--link {
                    display: block;
                    width: 100%;
                    font-size: 2.5rem !important;
                    padding: 1rem 0.5rem;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 0;
                        height: 1px;
                        background-color: $color-white;
                        transition: all 0.3s ease-in-out;
                        opacity: 0;
                        
                    }
                    &:hover {
                        &::before {
                            width: 100%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}